.register-body {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.body-register {
  background-color: #f8f8ffd6;
  color: #333333;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  height: 70vh;
}
.body-register h2 {
  text-align: center;
}
form > * {
  margin-bottom: 5px;
}
.container-avatares {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
#avatar-seleccionado {
  background: linear-gradient(
    200deg,
    rgba(106, 73, 191, 0.8911161876860119) 22%,
    rgba(71, 211, 191, 0.8883150672378326) 100%
  );
  padding: 3rem;
  border-radius: 50% 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.avatar-container {
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  background-color: #6a49bf;
  border-radius: 10px;
  padding: 2px;
  position: relative;
  top: -1rem;
  width: 10rem;
}
.container-avatares_avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emoji {
  font-size: 1.5rem;
  cursor: pointer;
}
#mostrar-emojis {
  position: relative;
  top: -2rem;
  left: 1rem;
  border-radius: 50% 50%;
  padding: 5px;
  border: none;
}
.selected {
  background-color: lightgray;
}
.body-register .form-register {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2rem;
}
.form-register > input,
.form-register > button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}
.form-register button {
  border: 2px solid #6a49bf;

  color: #6a49bf;
}
.form-register a {
  text-align: center;
}
